<!DOCTYPE html>
<html lang="en">
<head>
    <title>Olan Search</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
    <script src="js/custom.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <header class="site-header">
      <div class="nav-bar">
          <div class="container">
              <div class="row">
                  <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                      <div class="site-branding d-flex align-items-center">
                         <a class="d-block" href="index.html" rel="home"><img class="d-block" src="images/logo.png" alt="logo"></a>
                      </div><!-- .site-branding -->

                      <nav class="site-navigation d-flex justify-content-end align-items-center">
                          <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                              <li class="current-menu-item"><a href="index.html">Home</a></li>
                              <li><a href="about.html">About us</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="news.html">News</a></li>
                              <li><a href="contact.html">Contact</a></li>

                              <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                  <a class="d-flex justify-content-center align-items-center" href="#"><img src="images/emergency-call.png"> +34 586 778 8892</a>
                              </li>
                          </ul>
                      </nav><!-- .site-navigation -->

                      <div class="hamburger-menu d-lg-none">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                      </div><!-- .hamburger-menu -->
                  </div><!-- .col -->
              </div><!-- .row -->
          </div><!-- .container -->
      </div><!-- .nav-bar -->

      <div class="swiper-container hero-slider">
          <div class="swiper-wrapper">
              <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
                  <div class="hero-content-overlay position-absolute w-100 h-100">
                      <div class="container h-100">
                          <div class="row h-100">
                              <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                  <header class="entry-header">
                                      <h1>The Best <br>Medical Services</h1>
                                  </header><!-- .entry-header -->

                                  <div class="entry-content mt-4">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                                  </div><!-- .entry-content -->

                                  <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                      <a href="#" class="button gradient-bg">Read More</a>
                                  </footer><!-- .entry-footer -->
                              </div><!-- .col -->
                          </div><!-- .row -->
                      </div><!-- .container -->
                  </div><!-- .hero-content-overlay -->
              </div><!-- .hero-content-wrap -->

              <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
                  <div class="hero-content-overlay position-absolute w-100 h-100">
                      <div class="container h-100">
                          <div class="row h-100">
                              <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                  <header class="entry-header">
                                      <h1>The Best <br>Medical Services</h1>
                                  </header><!-- .entry-header -->

                                  <div class="entry-content mt-4">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                                  </div><!-- .entry-content -->

                                  <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                      <a href="#" class="button gradient-bg">Read More</a>
                                  </footer><!-- .entry-footer -->
                              </div><!-- .col -->
                          </div><!-- .row -->
                      </div><!-- .container -->
                  </div><!-- .hero-content-overlay -->
              </div><!-- .hero-content-wrap -->

              <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
                  <div class="hero-content-overlay position-absolute w-100 h-100">
                      <div class="container h-100">
                          <div class="row h-100">
                              <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                  <header class="entry-header">
                                      <h1>The Best <br>Medical Services</h1>
                                  </header><!-- .entry-header -->

                                  <div class="entry-content mt-4">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                                  </div><!-- .entry-content -->

                                  <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                      <a href="#" class="button gradient-bg">Read More</a>
                                  </footer><!-- .entry-footer -->
                              </div><!-- .col -->
                          </div><!-- .row -->
                      </div><!-- .container -->
                  </div><!-- .hero-content-overlay -->
              </div><!-- .hero-content-wrap -->
          </div><!-- .swiper-wrapper -->

          <div class="pagination-wrap position-absolute w-100">
              <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
          </div><!-- .pagination-wrap -->
      </div><!-- .hero-slider -->
  </header><!-- .site-header -->
  <div class="container" id="app">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <h1>Motacritic</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-md-offset-3">
              <form action="" class="search-form">
                  <div class="form-group has-feedback">
                      <label for="search" class="sr-only">Search</label>
                      <input type="text" class="form-control" name="search" id="search" placeholder="search" v-model="query" >
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
              </form>
              <select v-model="selected">
                  <option disabled value="">Please select one</option>
                  <option>PC</option>
                  <option>PlayStation 4</option>
                  <option>PlayStation 3</option>
                  <option>PlayStation 2</option>
                  <option>PlayStation 1</option>
                  <option>PlayStation Vita</option>
                  <option>PSP</option>
                  <option>Xbox One</option>
                  <option>Xbox 360</option>
                  <option>Xbox</option>
                  <option>Switch</option>
                  <option>Wii U</option>
                  <option>Wii</option>
                  <option>GameCube</option>
                  <option>Nintendo 64</option>
                  <option>3DS</option>
                  <option>DS</option>
                  <option>Game Boy Advance</option>
                  <option>Dreamcast</option>
                  <option>iOS</option>
              </select>
              <span>Platform: {{ selected }}</span>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3" v-for="result in results">
              <div class="panel panel-default">
                  <div class="panel-heading">
                  <!-- display the city name and country  -->
                      {{ result._source.Name }}, {{ result._source.Platform }}, {{ result._source.Source }}
                  </div>
                  <div class="panel-body">
                  <!-- display the latitude and longitude of the city  -->
                      <p>Score: {{ result._source.Review_score }} Link: {{ result._source.Url }} Review: {{ result._source.Review }}.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script type='text/javascript' src='js/jquery.js'></script>
  <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
  <script type='text/javascript' src='js/swiper.min.js'></script>
  <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
  <script type='text/javascript' src='js/circle-progress.min.js'></script>
  <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
  <script type='text/javascript' src='js/jquery.barfiller.js'></script>
  <script type='text/javascript' src='js/custom.js'></script>
</body>
<!--- some styling for the page -->
<style>
    .search-form .form-group {
        float: right !important;
        transition: all 0.35s, border-radius 0s;
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border-radius: 25px;
        border: 1px solid #ccc;
    }

    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display: block;
    }

    .search-form .form-group input.form-control::-webkit-input-placeholder {
        display: none;
    }

    .search-form .form-group input.form-control:-moz-placeholder {
        /* Firefox 18- */
        display: none;
    }

    .search-form .form-group input.form-control::-moz-placeholder {
        /* Firefox 19+ */
        display: none;
    }

    .search-form .form-group input.form-control:-ms-input-placeholder {
        display: none;
    }

    .search-form .form-group:hover,
    .search-form .form-group.hover {
        width: 100%;
        border-radius: 4px 25px 25px 4px;
    }

    .search-form .form-group span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 14px;
    }
</style>
<script>
// create a new Vue instance
var app = new Vue({
    el: '#app',
    // declare the data for the component (An array that houses the results and a query that holds the current search string)
    data: {
        results: [],
        query: '',
        selected: ''
    },
    // declare methods in this Vue component. here only one method which performs the search is defined
    methods: {
        // make an axios request to the server with the current search query
        search: function() {
            axios.get("http://127.0.0.1:3001/search?q=" + this.query + "&platform=" + this.selected)
                .then(response => {
                    this.results = response.data;

                })
        }
    },
    // declare Vue watchers
    watch: {
        // watch for change in the query string and recall the search method
        query: function() {
            this.search();
        }
    }

})
</script>
</html>
